@layer components {
  .capabilities .capabilities-active {
    @apply relative;
    box-shadow: 9px 15px 24px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-hw);
  }
}

.capabilities-leave-active,
.capabilities-enter-active {
  transition: all 1s ease;
}

.capabilities-enter-from,
.capabilities-leave-to {
  opacity: 0;
}

.capabilities-enter-to,
.capabilities-leave-from {
  opacity: 1;
}

/* careers하단에 나타나는 애니메이션 구현용 */
.capabilities-container.open {
  @apply translate-y-0 opacity-100;
}
