@layer components {
  .infomation {
    background-color: transparent;
  }

  /* 랜딩페이지 infomation의 text 나타나는 효과 */
  .infomation-char span {
    opacity: 0;
    transform: translateY(50%);
    animation: infomation-char 1.5s cubic-bezier(0.4, 0, 0.2, 1) both;
    animation-fill-mode: forwards;
  }

  @keyframes infomation-char {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}