@layer components {
  .landing {
    @apply min-h-screen
  }

  .infomation {
    background: url('/img/michal-matlon-zx7VUt9txos-unsplash.jpg') center center no-repeat;
    background-size: cover;
  }

  /* infomation background zoomin animation */
  .infomation::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-size: cover;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    transform: scale(1.1);
    animation: infomation-zoomin 60s ease;
    animation-fill-mode: forwards;
  }

  @keyframes infomation-zoomin {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }

  .featured {
    background: url('/img/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg') center center no-repeat;
    background-size: cover;
  }
  .capabilities {
    background: url('/img/sven-mieke-fteR0e2BzKo-unsplash.jpg') center center no-repeat;
    background-size: cover;
  }
  .commitments {
    background: url('/img/augustine-wong-li0iC0rjvvg-unsplash.jpg') center center no-repeat;
    background-size: cover;
  }
  .careers {
    background: url('/img/geran-de-klerk-qzgN45hseN0-unsplash.jpg') center center no-repeat;
    background-size: cover;
  }

  /* 랜딩페이지 infomation의 text 나타나는 효과 */
  .char-animation span {
    opacity: 0;
    transform: translateY(50%);
    animation: char-animation 1.5s cubic-bezier(0.4, 0, 0.2, 1) both;
    animation-fill-mode: forwards;
  }

  @keyframes char-animation {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}